.portrait {
  width:45%;
  height: auto;
  padding-top: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin:0;
  padding-top: 0;
  
}

.hello {
  font-size: 15vw;
  margin-bottom: 0;
  margin-top: 0;
}

body {
  background-color: rgb(215, 250, 236);
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.home-text {
  text-align: center;
}

.button {
  padding: 10px;
  width: 200px;
  margin: 0;
  position: relative;
  background-color: rgb(215, 250, 236);
  border: solid;
  border-radius: 30px;
  transition: 0.5s;
}

.button:hover {
  background-color: #66FCF1;
  transition: 0.5s;
  
}